<div class="container">
  <h1>Marketplace:</h1>
    <% if @my_socks != [] %>
      <h3><b>My Socks:</b></h3>
      <div class="sock_card">
        <% @my_socks.each do |sock| %>
          <% if sock.status == 'active' %>
            <h3><strong>Textile</strong> : <%= sock.textile %></h3>
            <p><strong>Color</strong> : <%= sock.color %></p>
            <p><strong>Size</strong> : <%= sock.size %></p>
            <p><strong>Price</strong> : <%= sock.price.symbol %> <%= sock.price %></p>
            <button type="button" class="btn_small">  <%= link_to 'Show sock', sock_path(sock), method: :get%> </button>
            <button type="button" class="btn_small">  <%= link_to 'Edit sock', edit_sock_path(sock), method: :get%> </button>
            <br>
            <br>
          <% end %>
        <% end %>
      </div>
    <% end %>

      <br>
      <br>
      <br>

      <h3><b>Socks for sale:</b></h3>
      <div class="sock_card">
        <% @socks.each do |sock| %>
          <% if sock.status == 'active' %>
            <h3><strong>Textile</strong> : <%= sock.textile %></h3>
            <p><strong>Color</strong> : <%= sock.color %></p>
            <p><strong>Size</strong> : <%= sock.size %></p>
            <p><strong>Price</strong> : <%= sock.price.symbol %> <%= sock.price %></p>
            <button type="button" class="btn_small">  <%= link_to 'Show sock', sock_path(sock), method: :get%> </button>
            <br>
            <br>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

 <button type="button" class="block"> <%= link_to 'Create new sock', new_sock_path(@sock), method: :get%></button>


