<div class="container" style="width: 25%">
  <br>
  <br>
    <div class="card text-center">
      <h1>Look at this sock!</h1>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card"; class="center" >
              <div class="card-body">
                <div class="sock_card">
                  <% if @sock.photo.attached? %>
                  <%= cl_image_tag @sock.photo.key, height: 300, width: 400, crop: :fill %>
                  <% else %>
                  <%= image_tag "dirty_sock.jpg", alt: "Le Wagon", width: 200 %>
                  <% end %>
                  <p class="card-text"> This sock belongs to <%= @owner.email %></p>
                </div>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">Textile : <%= @sock.textile %></li>
                        <li class="list-group-item">Color : <%= @sock.color %></li>
                        <li class="list-group-item">Price : <%= @sock.price.symbol %> <%= @sock.price %></li>
                      </ul>
                      <div class="card-body">
                        <% if user_signed_in? %>
                          <% if @owner.id == current_user.id %>
                            <p><button type="button" class="btn_small"> <%= link_to 'Edit sock', edit_sock_path(@sock), method: :get%> </button></p>
                            <p><button type="button" class="btn_small"> <%= link_to "Remove this sock from marketplace", status_hide_sock_path(@sock), method: :patch, data: { confirm: "Confirm removal of sock from marketplace" } %> </button></p>
                          <% end %>
                          <% if @owner.id != current_user.id %>
                            <button type="button" class="btn_small"><%= link_to "Purchase this wonderful piece of clothing", sock_bookings_path(@sock), method: :post, data: { confirm: "Confirm acquisition of item" } %></button>
                          <% end %>
                        <% end %>
                      </div>
                    <div class="card-body">
                      <p><%= link_to 'Back to all socks', socks_path, method: :get%> </p>
                    </div>
              </div>
            </div>
        </div>
    </div>
</div>
