<div class="container">
  <h1>Transactions</h1>
    <h3><b>My transactions:</b></h3>
    <div>
      <% @my_bookings.each do |booking| %>
        <h3><strong>Textile</strong> : <%= booking.sock.textile %></h3>
        <p><strong>Color</strong> : <%= booking.sock.color %></p>
        <p><strong>Size</strong> : <%= booking.sock.size %></p>
        <p><strong>Bought from</strong> : <%= User.find(booking.previousowner_id).email %></p>
        <p><strong>Bought for</strong> : <%= booking.sellprice.symbol %> <%= booking.sellprice %></p>
        <button type="button" class="btn_small">  <%= link_to 'Back to socks', socks_path, method: :get%> </button>
        <br>
        <br>
      <% end %>
    </div>
</div>
