<div class="container">
  <h1 class="card text-center"; style="font-size:350%"><b>Transactions</b></h1>
  <h5 class="card text-center"; style="font-size:250%"><u>My purchases:</u></h5>
  <div class="row">
    <% @my_bookings.each do |booking| %> <!-- Begin iteration -->
    <div class="col-6">
      <div class="card"; class="center" >
        <div class="card-body">
          <div class="sock_card">
            <%= image_tag "sock_card.png", alt: "Le Wagon", width: 200 %>
            <h3><strong>Bought from</strong> : <%= User.find(booking.previousowner_id).email %></h3>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Textile</strong> : <%= booking.sock.textile %></li>
            <li class="list-group-item"><strong>Color</strong> : <%= booking.sock.color %></li>
            <li class="list-group-item"><strong>Size</strong> : <%= booking.sock.size %></li>
            <li class="list-group-item"><strong>Bought for</strong> : <%= booking.sellprice.symbol %> <%= booking.sellprice %></li>
            <li class="list-group-item"><strong>Bought at </strong> : <%= booking.created_at %></li>
          </ul>
        </div>
      </div>
    </div>
    <% end %> <!-- End of iteration logic -->
  </div>
  <br>
  <br>
  <h5 class="card text-center"; style="font-size:250%"><u>My sales:</u></h5>
  <div class="row">
    <% @my_sales.each do |booking| %> <!-- Begin iteration -->
    <div class="col-6">
      <div class="card"; class="center" >
        <div class="card-body">
          <div class="sock_card">
            <%= image_tag "sock_card.png", alt: "Le Wagon", width: 200 %>
            <h3><strong>Sold to</strong> : <%= User.find(booking.user_id).email %></h3>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Textile</strong> : <%= booking.sock.textile %></li>
            <li class="list-group-item"><strong>Color</strong> : <%= booking.sock.color %></li>
            <li class="list-group-item"><strong>Size</strong> : <%= booking.sock.size %></li>
            <li class="list-group-item"><strong>Sold for</strong> : <%= booking.sellprice.symbol %> <%= booking.sellprice %></li>
            <li class="list-group-item"><strong>Sold at </strong> : <%= booking.created_at %></li>
          </ul>
        </div>
      </div>
    </div>
    <% end %> <!-- End of iteration logic -->
  </div>
  <br>
  <button type="button" class="btn_small">  <%= link_to 'Back to socks', socks_path, method: :get%> </button>
</div>
