<br>
<div class="container" style="width: 37%">
  <div class="col-12">
    <%= image_tag "avatar_example.jpg", class: "avatar-full mx-auto d-block", alt: "My spry mug" %>
    <ul class="list-group list-group-flush">
    <li class="list-group-item"><strong>My account balance</strong> : <%= current_user.funds %></li>
    <li class="list-group-item"><strong>Socks acquired through SockMate</strong> : <%=  %></li>
    </ul>
    <button type="button" class="btn_small"> <%= link_to 'Create new sock', new_sock_path(@sock), method: :get%> </button>
    <button type="button" class="btn_small">  <%= link_to 'Show sock', socks_path, method: :get%> </button>
  </div>
</div>

<br>

<div class="container">
  <h5 class="card"; style="font-size:250%"><i>My socks:</i></h5>
  <div class="row">
    <% @my_socks.each do |sock| %> <!-- Begin iteration -->
    <div class="col-6">
      <div class="card"; class="center" >
        <div class="card-body">
          <div class="sock_card">
            <%= link_to image_tag("sock_card.png", alt: "Le Wagon", width: 200), sock_path(sock) %>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Textile</strong> : <%= sock.textile %></li>
            <li class="list-group-item"><strong>Color</strong> : <%= sock.color %></li>
            <li class="list-group-item"><strong>Size</strong> : <%= sock.size %></li>
            <li class="list-group-item"><strong>Price</strong> : <%= sock.price.symbol %> <%= sock.price %></li>
          </ul>
          <br>
          <button type="button" class="btn_small">  <%= link_to 'Show sock', sock_path(sock), method: :get%> </button>
          <button type="button" class="btn_small">  <%= link_to 'Edit sock', edit_sock_path(sock), method: :get%> </button>
          <button type="button" class="btn_small"> <%= link_to "Remove sock", status_hide_sock_path(sock), method: :patch, data: { confirm: "Confirm removal of sock from marketplace" } %> </button>
        </div>
      </div>
    </div>
    <% end %> <!-- End of iteration logic -->
  </div>
  <br>
</div>
